<!DOCTYPE html>
<html>
<body>

<h1>Show a Date Control</h1>

<form action="/api/v1/vacation/create-request-vacation" method="PUT">
  <label for="from">From:</label>
  <input type="date" id="from" name="from">
  <label for="to">To:</label>
  <input type="date" id="to" name="to">
  <label for="reason">reason <span>(optional)</span>:</label>
  <input type="date" id="reason" name="reason">
  <input type="submit">
</form>

<p><strong>Note:</strong> type="date" is not supported in Internet Explorer 11 or prior Safari 14.1.</p>

</body>
</html>
