<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Approve Request Vacation</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
    </head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script>
    async function main() {
          const queryString = window.location.search;
          const urlParams = await new URLSearchParams(queryString);
          const requestId = await urlParams.get('request')
          const status = await urlParams.get('status')
            const data = {
                requestId : requestId,
                status : status
            }
          $.ajax({
            url:"/api/v1/vacation/update-status-request",
            method:"POST",
            data:data,
            dataType : "JSON",
            success:function(response)
            {
                console.log("success =>>> ",response);
            }, error: function (error){
                console.log(error);
            }
        });
    }
    
    main();
      
  </script>
</body>
</html>
