<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Request Vacation</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
<body>


  <!-- <h1>Request Form</h1>
  <form action="/api/v1/vacation/create-request-vacation" method="POST">
    <input type="text" id="type" name="type" readonly>
    <label for="from">From:</label>
    <input type="date" id="from" name="from">
    <label for="to">To:</label>
    <input type="date" id="to" name="to">
    <label for="reason">reason <span>(optional)</span>:</label>
    <input type="text" id="reason" name="reason">
    <p><button type="submit">Submit</button></p>
  </form> -->

  <form>
  
    <div class="segment">
      <h1>Request Form</h1>
    </div>
    <input type="text" id="type" name="type" readonly>
    <label>
      <input type="date" id="from" name="from" placeholder="From"/>
    </label>
    <label>
      <input type="date" id="to" name="to" placeholder="To"/>
    </label>
    <label>
      <input type="text" id="reason" name="reason" placeholder="Reason (optional)"/>
    </label>
    <button class="red" type="button">Submit</button>
    
  </form>

<script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
  <script>
    
    async function main() {
      await liff.init({liffId:'1660688308-YdMaaznd'})
      .then(async() => {
        // Start to use liff's api
        if(!liff.isLoggedIn()){
        const destinationUrl = window.location.href;
        liff.login({redirectUri: destinationUrl});
        } else {
          const context = await liff.getContext();
          console.log('context =>>> ',context);
    
          const queryString = window.location.search;
          const urlParams = await new URLSearchParams(queryString);
          const type = await urlParams.get('type')
          document.getElementById("type").value = type;
        }
      })
      .catch((err) => {
        // Error happens during initialization
        console.log(err.code, err.message);
      });
    }
    
    main();
      
  </script>
</body>
</html>
