<!DOCTYPE html>
<html>
<body>

<h1>Show a Date Control</h1>

<form action="/api/v1/vacation/create-request-vacation" method="POST">
  <label for="from">From:</label>
  <input type="date" id="from" name="from">
  <label for="to">To:</label>
  <input type="date" id="to" name="to">
  <label for="reason">reason <span>(optional)</span>:</label>
  <input type="text" id="reason" name="reason">
  <input type="text" id="type" name="type">
  <input type="submit">
</form>

<p><strong>Note:</strong> type="date" is not supported in Internet Explorer 11 or prior Safari 14.1.</p>

</body>
<script src="https://static.line-scdn.net/liff/edge/2/sdk.js">

  async function main() {
    await liff.init({liffId: '1660688308-YdMaaznd'});
    if (!liff.isLoggedIn()) {
      liff.login();
    }
    liff.getFriendship().then(data => {
      if (data.friendFlag) {
        console.log(data);
      } else {
        // not friend or being blocked, force to add friend
        window.location = 'https://line.me/R/ti/p/@348qzudt'
      }
    })
  }
  main();
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const type = urlParams.get('type')
  document.getElementById("type").value = type;
  
</script>
</html>
