<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The title</title>
    </head>
<body>

<h1>Show a Date Control</h1>

<form action="/api/v1/vacation/create-request-vacation" method="POST">
  <label for="from">From:</label>
  <input type="date" id="from" name="from">
  <label for="to">To:</label>
  <input type="date" id="to" name="to">
  <label for="reason">reason <span>(optional)</span>:</label>
  <input type="text" id="reason" name="reason">
  <input type="text" id="type" name="type">
  <input type="submit">
</form>

<p><strong>Note:</strong> type="date" is not supported in Internet Explorer 11 or prior Safari 14.1.</p>

  <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js">
    async function main() {
      await liff.init({liffId:'1660688308-YdMaaznd'})
      .then(() => {
        // Start to use liff's api
        if(!liff.isLoggedIn()){
        const destinationUrl = window.location.href;
        liff.login({redirectUri: destinationUrl});
        } else {
          const context = liff.getContext();
          console.log('context =>>> ',context);
    
          const queryString = window.location.search;
          const urlParams = new URLSearchParams(queryString);
          document.querySelector("#type").append(urlParams.get('type'));
        }
      })
      .catch((err) => {
        // Error happens during initialization
        console.log(err.code, err.message);
      });
    }
    
    main();
      
  </script>
</body>
</html>
